#zhome {
	background-image: url(../img/overlook.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

h1{
  font-size: 3em;
  text-align: center;
  background-color: #000;
  height: 50px;
  line-height: 65px;
  margin: 0;
}
span {
  font-family: 'Bungee Hairline', cursive;
  font-size: 45px;
  color: #4dff4d;
  transform: scaleX(0.6);
  letter-spacing: 3px;
  transform-origin: left;
  transition: color 0.3s ease;
  z-index: 1;
}
h1:hover{
  transform: scale(1.1);
}

        .blink{
           position: absolute;
           left: 1075px;
           top: 49px;
           animation: blink .7s linear infinite
          }
        .service_box{
            margin:20px 0;
            padding: 60px 40px;
            text-align: center;
            border-radius:5px;
            transition: all 0.30s ease 0s;
        }
        .service_box:hover{
            background:#00BFF3;
        }
        .service_box .service_icon{
            width:100px;
            height:100px;
            margin: 0 auto;
            font-size:100px;
            line-height:70px;
            border-radius:50px;
            transform: translateY(0);
            transition: all 2s ease 0s;
        }
        .service_box:hover .service_icon{
            transform: translateY(-100%);
            animation-name: hop;
            animation-duration: 2s;
            animation-delay: 1.5s;
             }
        .service_box .service_icon i{
            color:#333;
         }
        .service_box h3{
            position: relative;
            top:40px;
            margin:0;
            color:#fff;
            font-size:23px;
            text-transform:uppercase;
            transform: translateY(0%);
            transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s;
        }
        .service_box:hover h3{
            top:-40px;
        }
        .service_box  p{
            color:#fff;
            margin:0;
            opacity:0;
            transition: all 0s linear 0s;
        }
        .service_box:hover p{
            opacity:1;
        }

.zabout-profile-bg{
		position: absolute;
		top: 0;
		left: 0;
		background: #EBEBEB;
		background-image: url(../img/mt.jpg);
		background-repeat: no-repeat;
		background-position: center;
		opacity: .40;
}

.zabout-wrap{
	width:95%;
	max-width: 1300px;
	margin: 0 auto;
}
#footer{
  position: absolute;
  font-family: 'Bungee Hairline', cursive;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 22px;
  animation: hackerFlash .1s ease-in infinite;



}
/*-----------Animations -------*/
@keyframes hop {
  50%
  {
    transform: translateY(-150%);
  }
  100%{
    transform: translateY(-100%);
  }
}
@keyframes scale {
  0%, 100%{

  }
  50%{
    transform: scale(1.10);
  }
}
/*Note: RAD AS FUCK*/
@keyframes hackerFlash{
  0%{
    color: rgb(0, 255, 0);
  }
  100%{
    color: #808080
  }
}
@keyframes blink{
  0%{
    color: #FFF
  }
  100%{
    color: #000000
  }
}
